<!DOCTYPE html>
<html>
<head>
  <title>CrazyBid</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#EFEFEF;">
  <div id="top-bar">
      <span id="login-in-top">Login</span>
      <span id="register-in-top">Register</span>
  </div>
  <div id="navigator-bar">
      <li id="logo"></li>
      <li id="home" ><a href="/"><span></span></a>Trang chu</li>
      <li id="auctions"><a href="/bids/"><span></span></a>Dau gia</li>
      <li id="help"><a href="/helps/"><span></span></a>Huong dan</li>
      <li id="coin"><a href="#"><span></span></a>Nap xu</li>
      <li id="comment"><a href="#"><span></span></a>Thao luan</li>
      <li id="win"><a href="#"><span></span></a>Trung thuong</li>
      <li id="award"><a href="#"><span></span></a>Trao giai</li>
  </div>
    <%= yield %>
</body>
</html>
