<!-- logo -->
<a name="top"></a>
<table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
<tr>
	<td align="left"><a href="/home/index"><img src="/images/logo/Black_and_white_259x75.png" border="0" alt=".::CrazyBid::." /></a></td>
	<td align="right" id="header_right_cell">
		&nbsp;
	</td>
</tr>
</table>
<!-- /logo -->
 <a href="/users/sign_in">Sign In</a><br />
 <a href="/users/sign_up">Sign Up</a><br />
 <a href="/products">View Product</a><br />
  <a href="/products/new">Add Product</a><br />
  <a href="/bids">View Bids</a><br />
   <a href="/bids/new">Add Bids</a><br />
    <a href="/user_bids">View user_bid info</a><br />
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
