<a href="/users/sign_in">Sign In</a><br />
<a href="/users/sign_up">Sign Up</a><br />
<a href="/products">View Product</a><br />
<a href="/products/new">Add Product</a><br />
<a href="/bids">View Bids</a><br />
<a href="/bids/new">Add Bids</a><br />
<a href="/user_bids">View user_bid info</a><br />
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
