// Place all the styles related to the helps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#help-content{
	width:972px;
	min-height:1150px;
	margin-left:176px;
	margin-top:50px;
}
#help-content .tab-content{
	background-color:white;
	min-height:1150px;
	-moz-box-shadow: 0 0px 1px 1px #888;
	-webkit-box-shadow: 0 0px 1px 1px #888;
	box-shadow: 0 0px 1px 1px #888;
}
#help-content .tab-content div{
	padding:10px;
	padding-top:30px;
}