<div id="forgot_your_pass">
<span class="alert alert-error"><strong>Forgot your password?</strong></span>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <br/>
  <%= f.email_field :email,:class=>"input_small",:placeholder=>"Email" %>

  <div><%= f.submit "Send" %></div>
<% end %>
</div>