<br/>
<div id="help-content">
	<div class="tabbable tabs-left">
			  <ul class="nav nav-tabs">
				<li class="active"><a href="#lA" data-toggle="tab" style="color:#F8B501"><strong>Luật chơi</strong></a></li>
				<li class=""><a href="#lB" data-toggle="tab" style="color:#F8B501"><strong>Bí quyết chiến thắng</strong></a></li>
				
			  </ul>
			  <div class="tab-content">
				<div class="tab-pane active" id="lA">
				  <p>- Đấu Giá Ngược là game giải trí chiến thuật thú vị mà tại đó <strong>người chiến thắng là người sở hữu sản phẩm đấu giá ngược hoàn toàn Miễn phí</strong><br> 
				  - Điều kiện để trở thành người thắng cuộc: Mức giá bạn chọn là giá <strong>Thấp nhất và Duy nhất tại thời điểm kết thúc phiên đấu giá ngược</strong>.        
				  	<div class="help_img"><img src="../assets/rule.png"></div>
					<div class="help_content">
						<p>- <strong>"Giá"</strong> trong đấu giá ngược chỉ có ý nghĩa làm cơ sở trao giải thưởng, <strong>bạn không phải trả bất kỳ khoản chi phí nào để nhận giải thưởng tại sàn đấu giá ngược</strong><br> 
						- Để chiến thắng tại sàn Đấu Giá Ngược, <strong>bạn cần đặt giá Thấp và đặt giá Duy nhất</strong> để có cơ hội sở hữu giá Thấp nhất và Duy nhất khi phiên đấu giá kết thúc.<br> 
						      </p>       	    
				  		</p>
					</div>
				</div>
				<div class="tab-pane" id="lB">
				  		<h4 style="text-align:center;">Bí quyết chiến thắng đấu giá ngược </h4>
						<div >
						<div><strong>Bước 1: Đặt giá để tìm khoảng giá thấp nhất và duy nhất tại thời điểm hiện tại</strong></div>
						<hr>
						<p style="padding-left:20px;">Bạn nên đặt vài giá ở các mức giá khác nhau để xác định giá thấp nhất và duy nhất đang ở khoảng nào. Ví dụ bạn có thể đặt các giá: 1,100, 300,500,... để tìm khoảng giá thấp nhất và duy nhất tại thời điểm hiện tại.</p>
						 </div>
						 
						 <div >
						<div><strong>Bước 2: Dự đoán khoảng giá chiến thắng cho sản phẩm</strong></div>
						<hr>
						<p style="padding-left:20px;">Thông thường, với các sản phẩm có giá trị nhất định thì giá chiến thắng thường nằm ở những khoảng nhất định. Bạn hãy tìm hiểu giá chiến thắng của các sản phẩm tương tự với sản phẩm đang đấu giá trong phần Trúng thưởng trên sàn đấu giá ngược.</p>
						 </div>
						
						<div >
						<div><strong>Bước 3: Đặt giá và khoảng giá kỳ vọng</strong></div>
						<hr>
						<p style="padding-left:20px;">Sau khi xác định được khoảng giá có khả năng chiến thắng, bạn hãy đặt giá vào khoảng này.</p>
						</div>
						
						<div >
						<div><strong>Bước 4: Đánh bật các mức giá ở khoảng thấp hơn và cao hơn khoảng giá kỳ vọng của bạn</strong></div>
						<hr>
						<p style="padding-left:20px;">Trong đấu giá ngược, nếu giá bị đặt trùng thì giá đó sẽ thua cuộc. Vì vậy để đánh bật các mức giá duy nhất đang thấp hơn hoặc đang cao hơn khoảng giá bạn chọn. Bạn cần đặt giá để các mức giá đó bị trùng. Khi đó giá thấp nhất và duy nhất sẽ tăng dần và tới khoảng kỳ vọng của bạn</p>
						</div>
						
						<div >
						<div><strong>Bước 5: Tập trung vào thời gian trước khi kết thúc phiên đấu giá</strong></div>
						<hr>
						<p style="padding-left:20px;">Thời điểm 1 tiếng trước khi phiên đấu giá kết thúc là thời gian quyết định vì khi đó các thành viên khác đều tích cực đặt giá. Bạn cần theo dõi diễn biến của phiên đấu giá cũng như có chiến lược phù hợp trong thời gian này để giá của bạn là giá Thấp nhất và Duy nhất tại thời điểm phiên đấu giá kết thúc.</p>
						</div>
				
				
				
				
				</div>
		
			  </div>
			</div>
</div>